body {
  padding: 0;
  box-sizing: border-box;
  background: rgb(250,187,115);
  background: linear-gradient(90deg, rgba(250,187,115,1) 0%, rgba(203,43,131,1) 50%, rgba(122,52,177,1) 100%);
}


.card-shadow {
  box-shadow: 5px 5px 20px -6px rgba(243,178,163,0.8) inset;
-webkit-box-shadow: 5px 5px 20px -6px rgba(243,178,163,0.8) inset;
-moz-box-shadow: 5px 5px 20px -6px rgba(243,178,163,0.8) inset;
}
.scrolls-element {
  opacity: 0;
  transition: opacity 0.5s ease; 
}

.scrolls-element.show {
  opacity: 1;
}


.cont {
  display: grid;
  place-items: center;
  min-height: 180px;
  -webkit-mask-box-image: -webkit-linear-gradient(
    top, transparent, transparent 0, white 10%, white 80%, transparent 100%);
}


.scroll-container .card-content {
  opacity: 1;
  pointer-events: none;
  animation: slideUp 20s infinite;
}
 
.scroll-container .card-content:nth-child(1) {
  animation-delay: -3s;
}
 
.scroll-container .card-content:nth-child(2) {
  animation-delay: 0s;
}
.cards .card:nth-child(3) {
  animation-delay: 3s;
}
 
.cards .card:nth-child(4) {
  animation-delay: 6s;
}
 
.cards .card:nth-child(5) {
  animation-delay: 9s;
}
 
.cards .card:nth-child(6) {
  animation-delay: 12s;
}
 
.cards .card:nth-child(7) {
  animation-delay: 15s;
}
 
.cards .card:nth-child(8) {
  animation-delay: 18s;
}
 
.cards .card:nth-child(9) {
  animation-delay: 21s;
}
 
.cards .card:nth-child(10) {
  animation-delay: 24s;
}
 
.cards .card:nth-child(11) {
  animation-delay: 27s;
}
 
.cards .card:nth-child(12) {
  animation-delay: 30s;
}
 
.cards .card:nth-child(13) {
  animation-delay: 33s;
}
 
.cards .card:nth-child(14) {
  animation-delay: 36s;
}
 
@keyframes slideUp {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
  }
 
  5%,
  20% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
  }
 
  25%,
  40% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
 
  45%,
  60% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
  }
 
  65%,
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
  }
}
 
.cards {
  position: relative;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 
.cards .card {
  position: absolute;
  display: grid;
  opacity: 0;
  animation: slideUp 15s infinite;
}
 